openapi: 3.0.0
info:
  description: Rocket.net API
  version: 1.0.0
  title: Rocket.net API
  contact:
    name: Rocket.net API Support
    url: http://www.rocket.net
    email: support@rocket.net
servers:
  - url: https://api.rocket.net
tags:
  - name: Billing
    description: Manage orders and billing
  - name: Authentication
    description: Create a JWT
  - name: Sites
    description: Manage your WordPress Sites
  - name: Site Templates
    description: Use templates to Clone / Create sites with pre-defined options
  - name: Partner
    description: Manage your site with partner options
  - name: Domains
    description: Manage your Site's Domains
  - name: CDN Cache
    description: Manage your Site's CDN Cache
  - name: FTP Accounts
    description: Manage your Site's FTP Accounts
  - name: Plugins
    description: Manage your Site's Plugins
  - name: Themes
    description: Manage your Site's Themes
  - name: Reporting
    description: View reporting for your Sites
  - name: SSH Keys
    description: Manage your Site's SSH Keys
  - name: Custom SSL
    description: Manage Custom SSL Certificates
  - name: Visitors
    description: View unique visitor statistics for site or account
  - name: Bandwidth
    description: View bandwidth usage over time for site or account
  - name: Cloud Backups
    description: Manage your Site's cloud backups
  - name: Backups
    description: Manage your Site's backups
  - name: Files
    description: Manage your Site's files
  - name: Account
    description: Get Information about your Rocket.net Account
  - name: Activity
    description: Manage Site's activity
  - name: Site Users
    description: Manage Site's users
  - name: Password Protection
    description: Manage password protection for sites
  - name: Password Strength
    description: Check password strength against requirements
  - name: Account Users
    description: Manage additional users for your Account
  - name: ShopShield
    description: Protect your site from traffic bursts
  - name: Site Transfers
    description: Manage site transfers between accounts
  - name: WordPress
    description: Interact with your site's WordPress installation
paths:
  /v1/account/cancel:
    post:
      operationId: app.controllers.account_controller.post_request_cancel_account
      summary: Request that your Rocket.net account be cancelled
      description: Submits a cancellation request that will be reviewed and completed by the billing team
      tags:
        - Account
      security:
        - bearerAuth: []
      requestBody:
        description: Create a hosting plan
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAccountRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/account/hosting_plan:
    get:
      operationId: app.controllers.account_controller.get_hosting_plan
      summary: Get Current Hosting Plan
      description: Provides detailed information about your current hosting plan
      tags:
        - Account
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountHostingPlanResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: app.controllers.account_controller.put_hosting_plan
      summary: Change Account's Hosting Plan
      description: Change the account's hosting plan and generate an order and invoice for the new plan
      tags:
        - Account
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: preview
          schema:
            type: boolean
            default: false
          required: false
      requestBody:
        description: Create a hosting plan
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountHostingPlanRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountHostingPlanResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: app.controllers.account_controller.post_hosting_plan
      summary: Set Hosting Plan
      description: Selects a hosting plan for the first time and creates an order and invoice
      tags:
        - Account
      security:
        - bearerAuth: []
      requestBody:
        description: Create a hosting plan
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountHostingPlanRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccountHostingPlanResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/account/me:
    get:
      operationId: app.controllers.account_controller.account_me_get
      summary: Get user information
      description: For given user get his customer information in one place
      tags:
        - Account
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountMeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update user account settings
      description: Update your user account information
      operationId: app.controllers.account_controller.account_me_patch
      tags:
        - Account
      security:
        - bearerAuth: []
      requestBody:
        description: Updated user account information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountMeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountMeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/account/visitors:
    get:
      operationId: app.controllers.visitors_controller.account_visitors_get
      summary: Get unique visitors statistics for user account.
      description: For given account get list of unique visitors per day.
      tags:
        - Visitors
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: date_from
          schema:
            type: string
            format: date
          required: true
        - in: query
          name: date_to
          schema:
            type: string
            format: date
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/account/usage:
    get:
      operationId: app.controllers.account_controller.account_usage_get
      summary: Get unique usage statistics for user account.
      description: For given account get list of usages for all sites per day.
      tags:
        - Account
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: date_from
          schema:
            $ref: '#/components/schemas/DateFrom'
          required: false
        - in: query
          name: date_to
          schema:
            $ref: '#/components/schemas/DateTo'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountUsageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/account/bandwidth:
    get:
      operationId: app.controllers.bandwidth_controller.account_bandwidth_get
      summary: Get bandwidth usage statistics for user account.
      description: For given account get list of bandwidth usage per day.
      tags:
        - Bandwidth
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: date_from
          schema:
            $ref: '#/components/schemas/DateFrom'
          required: false
        - in: query
          name: date_to
          schema:
            $ref: '#/components/schemas/DateTo'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthUsageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/account/billing_sso:
    post:
      operationId: app.controllers.account_controller.account_billing_sso_post
      summary: Get a cookie to allow for access to billing data
      description: Get  cookie to allow for access to billing data and perform billing operations
      tags:
        - Account
      security:
        - bearerAuth: []
      requestBody:
        description: Information about where to SSO to
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSSORequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSSOResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/account/password:
    post:
      summary: Set a new password for your account
      description: Set a new password for your account
      operationId: app.controllers.account_controller.account_password_post
      tags:
        - Account
      security:
        - bearerAuth: []
      requestBody:
        description: Password Information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePasswordRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/account/tasks:
    get:
      operationId: app.controllers.account_controller.account_tasks_get
      summary: Get a list of account level tasks
      description: List tasks which are not associated with a specific site
      tags:
        - Account
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: task_id
          schema:
            $ref: '#/components/schemas/TaskID'
          required: false
        - in: query
          name: task_type
          schema:
            $ref: '#/components/schemas/AccountTaskType'
          required: false
        - in: query
          name: task_status
          schema:
            $ref: '#/components/schemas/TaskStatus'
          required: false
        - in: query
          name: page
          schema:
            $ref: '#/components/schemas/Page'
          required: false
        - in: query
          name: per_page
          schema:
            type: integer
            default: 100
            description: Results per page
            example: 10
          required: false
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - id
              - perc
              - task_status
              - task_type
              - updated
          required: false
        - in: query
          name: direction
          schema:
            $ref: '#/components/schemas/SortDirection'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountTasksResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/addresses:
    get:
      operationId: app.controllers.billing_controller.get_billing_addresses
      summary: List Billing Addresses
      description: List all addresses which can be associated with payments
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            $ref: '#/components/schemas/Page'
          required: false
        - in: query
          name: per_page
          schema:
            $ref: '#/components/schemas/PerPage'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAddressesResponse'
        '400':
          description: Invalid or missing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: app.controllers.billing_controller.post_billing_addresses
      summary: Create Billing Address
      description: Add a new address which can be associated with a payment method
      tags:
        - Billing
      security:
        - bearerAuth: []
      requestBody:
        description: Create a new billing address
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingAddressRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBillingAddressResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/addresses/{address_id}:
    get:
      operationId: app.controllers.billing_controller.get_billing_addresses_address_id
      summary: Get Billing Address
      description: Get specific details about a billing address
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: address_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAddressResponse'
        '400':
          description: Invalid or missing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: app.controllers.billing_controller.patch_billing_addresses_address_id
      summary: Update Billing Address
      description: Update a billing address
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: address_id
          schema:
            type: integer
          required: true
      requestBody:
        description: Update a billing address
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingAddressRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid or missing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: app.controllers.billing_controller.delete_billing_addresses_address_id
      summary: Delete Billing Address
      description: Removes a billing address from the account
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: address_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid or missing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/emails:
    get:
      operationId: app.controllers.billing_controller.get_billing_emails
      summary: List Billing Emails
      description: List all billing related emails associated with the account
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            $ref: '#/components/schemas/Page'
          required: false
        - in: query
          name: per_page
          schema:
            $ref: '#/components/schemas/PerPage'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEmailsResponse'
        '400':
          description: Invalid or missing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/emails/{email_id}:
    get:
      operationId: app.controllers.billing_controller.get_billing_emails_email_id
      summary: Get Billing Email
      description: Get specific details about a billing email
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: email_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingEmailResponse'
        '400':
          description: Invalid or missing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/invoices:
    get:
      operationId: app.controllers.billing_controller.get_billing_invoices
      summary: List Invoices
      description: List all invoices associated with the account
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            $ref: '#/components/schemas/Page'
          required: false
        - in: query
          name: per_page
          schema:
            $ref: '#/components/schemas/PerPage'
          required: false
        - in: query
          name: search
          schema:
            type: string
          required: false
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - id
              - date
              - due_date
              - dollar_amount
              - status
          required: false
        - in: query
          name: direction
          schema:
            $ref: '#/components/schemas/SortDirection'
        - in: query
          name: status
          schema:
            type: string
            enum:
              - Cancelled
              - Collections
              - Draft
              - Payment Pending
              - Paid
              - Refunded
              - Unpaid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoicesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/invoices/{invoice_id}:
    get:
      operationId: app.controllers.billing_controller.get_billing_invoices_invoice_id
      summary: Get Invoice
      description: Get full details of an invoice and ay associated transactions
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoiceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/invoices/{invoice_id}/credit_card_payment:
    post:
      operationId: app.controllers.billing_controller.post_billing_invoices_invoice_id_credit_card_payment
      summary: Record a Credit Card Payment
      description: Used to create a credit card payment
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/invoices/{invoice_id}/paypal_subscription:
    patch:
      operationId: app.controllers.billing_controller.patch_billing_invoices_invoice_id_paypal_subscription
      summary: Update a PayPal Subscription
      description: Used to verify that a subscription was created upon callback from PayPal SDK
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: integer
          required: true
      requestBody:
        description: Record a subscription creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingPayPalSubscriptionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: app.controllers.billing_controller.post_billing_invoices_invoice_id_paypal_subscription
      summary: Create a PayPal Subscription
      description: Used to create a PayPal subscription which can be used with PayPal's SDK Buttons
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBillingPayPalSubscriptionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/invoices/{invoice_id}/pdf:
    get:
      operationId: app.controllers.billing_controller.get_billing_invoices_invoice_id_pdf
      summary: Download Invoice PDF
      description: Download a PDF copy of a specific Invoice
      tags:
        - Billing
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: integer
          required: true
        - in: query
          name: token
          schema:
            type: string
          required: true
        - in: query
          name: embed
          schema:
            type: boolean
            default: false
          required: false
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: PDF data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/payment_methods:
    get:
      operationId: app.controllers.billing_controller.get_billing_payment_methods
      summary: List Payment Methods
      description: List all payment methods present on the account
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            $ref: '#/components/schemas/Page'
          required: false
        - in: query
          name: per_page
          schema:
            $ref: '#/components/schemas/PerPage'
          required: false
        - in: query
          name: include_token
          schema:
            type: boolean
            description: Include the token used at the payment gateway in the response
            example: false
            default: false
          required: false
        - in: query
          name: active
          schema:
            type: boolean
            description: Include only an active payment method
            example: false
            default: false
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPaymentMethodsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: app.controllers.billing_controller.post_billing_payment_methods
      summary: Add Credit Card
      description: Allows one to add a credit card as a payment method. PayPal must be added as a payment method on a specific Invoice
      tags:
        - Billing
      security:
        - bearerAuth: []
      requestBody:
        description: Credit Card information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingPaymentMethodRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPaymentMethodResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/payment_methods/{payment_method_id}:
    get:
      operationId: app.controllers.billing_controller.get_billing_payment_methods_method_id
      summary: Get Payment Method
      description: Get details about a specific payment method
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: payment_method_id
          schema:
            type: integer
          required: true
        - in: query
          name: include_token
          schema:
            type: boolean
            description: Include the token used at the payment gateway in the response
            example: false
            default: false
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPaymentMethodResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: app.controllers.billing_controller.delete_billing_payment_methods_method_id
      summary: Delete Payment Method
      description: Removes a payment method from the account
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: payment_method_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: app.controllers.billing_controller.patch_billing_payment_methods_method_id
      summary: Update Payment Method
      description: 'NOTE: Only credit cards can be updated this way. PayPal subscriptions will need to be cancelled at PayPal and a new subscription can be applied to an open invoice'
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: payment_method_id
          schema:
            type: integer
          required: true
      requestBody:
        description: Create a Payment Method
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingPayMethodRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingPaymentMethodResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/payment_methods/credit_card_setup_intent:
    post:
      operationId: app.controllers.billing_controller.post_billing_payment_methods_credit_card_setup_intent
      summary: Create Credit Card Setup Intent
      description: Create a Stripe Setup Intent for a Payment Method
      tags:
        - Billing
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBillingCreditCardSetupIntentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/billing/products:
    get:
      operationId: app.controllers.billing_controller.get_billing_products
      summary: List Available Products
      description: Provides a list of available hosting plan products. Addons are not listed and must be added manually
      tags:
        - Billing
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: coupon
          schema:
            type: string
            description: Apply a coupon to the product results
          required: false
        - in: query
          name: product_id
          schema:
            type: integer
            description: Filter to a specific product id
          required: false
        - in: query
          name: type
          schema:
            type: string
            description: Filter by product type
            enum:
              - Managed
              - Agency
              - Enterprise
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProductsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/login:
    post:
      operationId: app.controllers.authentication_controller.login_post
      summary: Authenticate user and generate JWT token
      description: Use this route to request an API token that can be used for requests. Token expires in 7 days. Should you get a 401 back, from the API, request a new token.
      requestBody:
        description: Username and password to authenticate user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      tags:
        - Authentication
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid or missing request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unable to authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/cdn/requests:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_cdn_requests_get
      summary: Retrieve CDN requests report
      description: Show traffic to your site from the edge (including cache hits)
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
        - in: query
          name: req_type
          schema:
            type: string
            description: Filter to a specific type of requests (edgeOrigin = requests that hit the origin)
            example: edgeOrigin
            enum:
              - edgeOrigin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/CDNRequestsResponse'
                  - $ref: '#/components/schemas/CDNRequestsResponseEdgeOrigin'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/cdn/cache-status:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_cdn_cache_status_get
      summary: Retrieve CDN cache-status report
      description: Show stats on cache hits (and details on what was hit vs miss vs expired) as well as requests that bypass the cache (dynamic, etc)
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDNCacheStatusResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/cdn/cache-content:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_cdn_cache_content_get
      summary: Retrieve CDN cache-content report.
      description: For given site it checks cloudflare stats to get CDN cache content data and returns it.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDNCacheContentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/cdn/cache-top:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_cdn_cache_top_get
      summary: '[Deprecated] Retrieve cdn cache-top report.'
      description: Use /sites/{id}/reporting/cdn/request_volume_by_source instead
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDNCacheTopResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/visitors:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_visitors_get
      summary: Retrieve cdn visitors report.
      description: For given site it checks cloudflare stats to get CDN visitors data and returns it.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDNVisitorsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/waf/eventlist:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_waf_eventlist_get
      summary: List WAF Events
      description: Lists all requests which triggered actions in the Web Application Firewall (WAF)
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
        - in: query
          name: search
          schema:
            description: Search for an event by action, client_ip, country, request_path, user_agent, or query_string
            type: string
            example: /admin-ajax.php
        - in: query
          name: action
          description: Filter events matching a specific action taken by the WAF
          style: form
          schema:
            type: array
            example:
              - allow
            items:
              type: string
              enum:
                - allow
                - block
                - bypass
                - challenge
                - jschallenge
                - managed_challenge
                - skip
          required: false
        - in: query
          name: client_ip
          description: Filter events matching a specific IP address
          schema:
            type: string
            example: 1.2.3.4
          required: false
        - in: query
          name: request_path
          description: Filter events matching a specific request path or partial path
          schema:
            type: string
            example: /wp-login.php
          required: false
        - in: query
          name: country
          description: Filter events matching a specific country
          schema:
            type: array
            example:
              - US
            items:
              type: string
          required: false
        - in: query
          name: asn
          description: Filter events matching a specific ASN
          schema:
            type: string
            example: '14618'
          required: false
        - in: query
          name: asn_description
          description: Filter events matching a specific or partial ASN description
          schema:
            type: string
            example: AMAZON-AES
          required: false
        - in: query
          name: http_method
          description: Filter events matching a specific HTTP method
          schema:
            type: array
            example:
              - POST
            items:
              type: string
              enum:
                - GET
                - DELETE
                - HEAD
                - OPTIONS
                - PATCH
                - PUT
                - POST
          required: false
        - in: query
          name: http_protocol
          description: Filter events matching a specific or partial HTTP Protocol
          schema:
            type: string
            example: HTTP/1.1
          required: false
        - in: query
          name: query_string
          description: Filter events matching a specific or partial Query String
          schema:
            type: string
            example: '&bad=request'
          required: false
        - in: query
          name: ray_id
          description: Filter events matching a specific or partial Ray ID
          schema:
            type: string
            example: '1234567890'
          required: false
        - in: query
          name: user_agent
          description: Filter events matching a specific or partial HTTP User Agent
          schema:
            type: string
            example: Mozilla/5.0
          required: false
        - in: query
          name: per_page
          schema:
            $ref: '#/components/schemas/PerPage'
          required: false
        - in: query
          name: page
          schema:
            $ref: '#/components/schemas/Page'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWAFEventsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/waf/events-source:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_waf_events_source_get
      summary: Retrieve WAF events source report.
      description: For given site it checks cloudflare stats to get WAF events source data and returns it.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFFirewallEventsSourceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/waf/firewall-events:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_waf_firewall_events_get
      summary: Retrieve WAF firewall events report.
      description: For given site it checks cloudflare stats to get WAF firewall events data and returns it.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFFirewallEventsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/waf/events-services:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_waf_events_services_get
      summary: Retrieve WAF events services report.
      description: For given site it checks cloudflare stats to get WAF events services data and returns it.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFEventsServicesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/waf/events-time:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_waf_events_time_get
      summary: Retrieve WAF events time report.
      description: For given site it checks cloudflare stats to get WAF events time data and returns it.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFEventsTimeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/waf/events:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_waf_events_get_deprecated
      summary: '[Deprecated]: List WAF Events'
      description: Use /reporting/sites/{id}/waf/eventlist instead
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
        - in: query
          name: limit
          schema:
            description: Number of events to provide back
            type: integer
        - in: query
          name: search
          schema:
            description: Search for an event by action, client_ip, country, request_path, user_agent, or query_string
            type: string
            example: /admin-ajax.php
        - in: query
          name: action
          description: Filter events matching a specific action taken by the WAF
          style: form
          schema:
            type: array
            example:
              - allow
            items:
              type: string
              enum:
                - allow
                - block
                - bypass
                - challenge
                - jschallenge
                - managed_challenge
                - skip
          required: false
        - in: query
          name: client_ip
          description: Filter events matching a specific IP address
          schema:
            type: string
            example: 1.2.3.4
          required: false
        - in: query
          name: request_path
          description: Filter events matching a specific request path or partial path
          schema:
            type: string
            example: /wp-login.php
          required: false
        - in: query
          name: country
          description: Filter events matching a specific country
          schema:
            type: array
            example:
              - US
            items:
              type: string
          required: false
        - in: query
          name: asn
          description: Filter events matching a specific ASN
          schema:
            type: string
            example: '14618'
          required: false
        - in: query
          name: asn_description
          description: Filter events matching a specific or partial ASN description
          schema:
            type: string
            example: AMAZON-AES
          required: false
        - in: query
          name: http_method
          description: Filter events matching a specific HTTP method
          schema:
            type: array
            example:
              - POST
            items:
              type: string
              enum:
                - GET
                - DELETE
                - HEAD
                - OPTIONS
                - PATCH
                - PUT
                - POST
          required: false
        - in: query
          name: http_protocol
          description: Filter events matching a specific or partial HTTP Protocol
          schema:
            type: string
            example: HTTP/1.1
          required: false
        - in: query
          name: query_string
          description: Filter events matching a specific or partial Query String
          schema:
            type: string
            example: '&bad=request'
          required: false
        - in: query
          name: user_agent
          description: Filter events matching a specific or partial HTTP User Agent
          schema:
            type: string
            example: Mozilla/5.0
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAFEventsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/bandwidth/top-usage:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_bandwidth_top_usage_get
      summary: Get top usage bandwidth report.
      description: For given site it checks cloudflare stats for bandwidth top users.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthTopUsageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/reporting/sites/{id}/bandwidth/usage:
    get:
      operationId: app.controllers.reporting_controller.reporting_sites_id_bandwidth_usage_get
      summary: Get usage bandwidth report.
      description: For given site it checks cloudflare stats for usage histogram.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
        - in: query
          name: duration
          schema:
            $ref: '#/components/schemas/ReportingDuration'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BandwidthUsageReportingResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/site_templates:
    post:
      operationId: app.controllers.site_templates_controller.site_templates_task_post
      summary: Create new site template
      description: Kicks off the creation of a task to create a new site template from a site
      tags:
        - Site Templates
      security:
        - bearerAuth: []
      requestBody:
        description: New site template parameters
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSiteTemplateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskIDResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/sites:
    get:
      operationId: app.controllers.sites_controller.sites_get
      summary: List sites
      description: Get list of all sites and their details for given user, can be filtered by domain.
      security:
        - bearerAuth: []
      tags:
        - Sites
      parameters:
        - in: query
          name: domain
          schema:
            $ref: '#/components/schemas/SearchParamDomain'
          required: false
        - in: query
          name: search
          schema:
            type: string
            description: Search for a site by its domain, label, or ID
            example: rocket
          required: false
        - in: query
          name: page
          schema:
            $ref: '#/components/schemas/Page'
          required: false
        - in: query
          name: per_page
          schema:
            $ref: '#/components/schemas/PerPage'
          required: false
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - created_at
              - domain
              - label
              - disk_usage
          required: false
        - in: query
          name: direction
          schema:
            $ref: '#/components/schemas/SortDirection'
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSitesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: app.controllers.sites_controller.sites_post
      summary: Create new site
      description: Endpoint that can be used to create a new site.
      tags:
        - Sites
      security:
        - bearerAuth: []
      requestBody:
        description: New site parameters
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSiteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSiteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/sites/{id}:
    get:
      operationId: app.controllers.sites_controller.sites_id_get
      summary: Get information about site from system
      description: Returns details about site if user has permissions and if site exists.
      tags:
        - Sites
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: app.controllers.sites_controller.sites_id_delete
      summary: Delete site from system
      description: Removes site from database, removes cloudflare entry and removes cpanel account
      security:
        - bearerAuth: []
      tags:
        - Sites
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/SiteID'
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized to access endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Given site not found for user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal error
[...]
